@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  // Background
  --bg-dark: #28293e;
  --bg-light: #fdf0e9;
  // Text
  --text-dark: #391400;
  --text-accent: #ef6d58;
  --text-dark-gray: rgba(57, 20, 0, 0.64);
  --text-light: #ffffff;
  --text-light-gray: rgba(255, 255, 255, 0.64);
  --dark-primary: #b550f8;
  // Border
  --border-accent: #f3d1bf;
  --border-dark: #3a3c56;
}

h1,
h2,
h3,
h4,
h5 {
  font-style: normal;
}
h1 {
  font-size: 72px;
  font-weight: 800;
  line-height: 80px; /* 111.111% */
  letter-spacing: -2px;
}
h2 {
  font-size: 56px;
  font-weight: 800;
  line-height: 64px; /* 114.286% */
  letter-spacing: -1px;
}
h3 {
  font-size: 40px;
  line-height: 48px; /* 120% */
}
h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
}
h5 {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px; /* 200% */
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--text-accent) !important;
}
label {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

@layer base {
  .header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 32px;
    width: 100%;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    gap: 20px;
    .links {
      display: flex;
      gap: 60px;
      a.active,
      a:hover {
        color: var(--text-light);
      }
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 28px 60px;
    border-top: 1px solid var(--text-light-gray);
  }

  .section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
  }
}

@layer components {
  // Text
  .text-gray {
    color: var(--text-dark-gray);
  }
  .text-accent {
    color: var(--text-accent);
  }
  .text-small {
    font-size: 14px;
    line-height: 24px;
  }
  .text-large {
    font-size: 20px;
    font-style: normal;
    line-height: 32px;
  }
  .text-medium {
    font-size: 16px;
    font-style: normal;
    line-height: 28px;
  }

  // Buttons
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 40px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 900;
    border: 1px solid transparent;

    &.btn-primary {
      border-color: var(--text-accent);
      background-color: var(--text-accent);
      color: var(--text-light);
    }
    &.btn-outline {
      background-color: var(--text-light);
      border-color: var(--text-accent);
      color: var(--text-dark);
    }
  }

  .input-field {
    display: flex;
    flex-direction: column-reverse;
    gap: 12px;
    position: relative;

    .input {
      padding: 8px 16px;
      border: 1px solid var(--border-accent);
      border-radius: 8px;
      &:focus,
      &:focus-visible {
        border-color: var(--text-accent);
        outline: none;
      }
    }
    .input:required + label {
      position: absolute;
      top: 12px;
      left: 16px;
      &::after {
        content: "*";
        color: red;
        font-size: 14px;
      }
    }
    .input:focus + label {
      padding: 0 4px;
      top: -8px;
      left: 12px;
      z-index: 1;
      background-color: var(--text-light);
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 24px;
    border-radius: 8px;
    border: 1px solid var(--text-dark);
    background-color: var(--bg-light);
    color: var(--text-dark);

    &.card-light {
      border-color: var(--border-accent);
    }
    &.card-dark {
      border-color: var(--border-dark);
      background-color: var(--bg-dark);
      color: var(--text-light);
    }
    &.card-white {
      border-color: var(--text-light);
      background-color: var(--text-light);
    }
  }
  .card-list {
    display: flex;
    // flex-direction: column;
    width: 100%;
    .card {
      border-radius: 0;
      &:first-child {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
      }
      &:last-child {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
      }
    }
  }
}

body {
  color: var(--text-dark);
}

.bg-white {
  background-color: var(--text-light);
}

.bg-light {
  background-color: var(--bg-light);
}

.bg-dark {
  color: var(--text-light);
  background-color: var(--bg-dark);

  .text-gray {
    color: var(--text-light-gray);
  }

  .btn-primary {
    border: 1px solid var(--dark-primary);
    background-color: var(--dark-primary);
  }
  .btn-outline {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.3);
    color: var(--text-light);
    &:hover {
      border-color: var(--text-light);
    }
  }
}
